@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
    --font-nav: "Bebas Neue", sans-serif;
    --font-texto: "Montserrat", sans-serif;
    --cor-principal: #faa807;
    --cor-branco: #ffe4d9;
    --cor-nav: #1e1c1c;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-nav);
}

li {
    list-style: none;
}

a {
    color: var(--cor-branco);
    text-decoration: none;
}

h2 {
    font-family: var(--font-nav);
    color: var(--cor-nav);
    font-size: 3rem;
    margin-left: 70px;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    line-height: 31px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: var(--cor-principal);
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--cor-branco);
    transition: all 0.3s ease-in-out;
}

/*SECTION HERO*/

.hero {
    height: 90vh;
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
}

.text_hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
}

.text_hero h1 {
    font-family: var(--font-nav);
    color: var(--cor-principal);
    font-size: 5rem;
    margin: 0;
    letter-spacing: 3px;
    text-shadow: 1px 1px #000000a2;
}

.text_hero p {
    font-family: var(--font-nav);
    color: var(--cor-branco);
    font-size: 2rem;
    margin: 0;
    text-shadow: 1px 1px #000000a2;
}

/*SECTION SOBRE*/

.sobre {
    /* height: 1000px; */
    margin: 0px;
}

.container-sobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 3rem;
}

p.texto-sobre {
    max-width: 40%;
    font-family: var(--font-texto);
    font-size: 20px;
    line-height: 26px;
}

.container-sobre video {
    width: 320px;
    box-shadow: 0px 0px 43px -9px rgba(0, 0, 0, 0.75);
}

/*SECTION SERVICOS*/

.servicos {
    margin-top: 80px;
}

.servicos .container-cards {
    display: flex;
    justify-content: center;
}

.servicos .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
}

.card1 {
    background-image: url(../img/card1.png);
}

.card2 {
    background-image: url(../img/card2.png);
}

.card3 {
    background-image: url(../img/card3.png);
}

.card4 {
    background-image: url(../img/card4.png);
}

.card5 {
    background-image: url(../img/card5.png);
}

.card1,
.card2,
.card3,
.card4,
.card5 {
    background-size: cover;
    background-position: center;
    width: 254px;
    height: 522px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards p {
    font-family: var(--font-nav);
    color: var(--cor-branco);
    font-size: 2rem;
    z-index: 99;
    text-shadow: 1px 1px #000000a2;
    transform: scale(0.8);
    transition: 0.5s;
}

.cards p:hover {
    transform: scale(0.8) translateY(-15px);
    font-size: 2.5rem;
}

.cards .overlay {
    width: 254px;
    height: 522px;
    background-color: #00000091;
    opacity: 0;
    position: absolute;
}

.cards .overlay:hover {
    opacity: 1;
}

/* BUTTON CTA */

.cta {
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta button {
    padding: 1rem;
    max-width: 500px;
    border-radius: 15px;
    border: none;
    background-color: var(--cor-principal);
    font-family: var(--font-nav);
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 1px #0000003f;
    cursor: pointer;
}

.cta button:hover {
    animation: shake3856 0.3s linear infinite both;
}

/* SECTION PARCEIROS */

.partner-logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 250px 30px;
}

.partner-logos img {
    width: 150px;
    height: 150px;
    margin: 0 10px;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.partner-logos img:hover {
    transform: scale(1.2);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -120%;
        top: 70px;
        gap: 10px;
        padding-top: 20px;
        height: 12rem;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        background-color: var(--cor-nav);
        font-size: 22px;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .container-sobre video {
        margin-top: 200px;
    }

    .text_hero h1 {
        font-size: 4rem;
    }

    p.texto-sobre {
        min-width: 310px;
        margin-left: 5px;
    }

    .sobre h2,
    .servicos h2,
    .text_hero {
        margin-left: 30px;
    }

    .partner-logos {
        margin: 0;
        justify-content: center;
    }

    .partner-logos img {
        margin: -30px 20px;
    }

    .parceiros h2 {
        margin: 50px 30px;
    }
}

@keyframes shake3856 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
